<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-flat-button class="title-button" color="primary" routerLink="/" routerLinkActive="active">Structure</button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <a class="nav-menu-button" mat-menu-item routerLink="/projects" routerLinkActive="active">Projects</a>
      <a class="nav-menu-button" mat-menu-item routerLink="/users" routerLinkActive="active">Users</a>
      <a class="nav-menu-button" mat-menu-item routerLink="/teams" routerLinkActive="active">Teams</a>
    </mat-menu>
  </button>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
