$left-right-content-padding: 4rem;

.toolbar-spacer {
  flex: 1 1 auto;
}

.title-button {
  font-size: 2rem;
}

.toolbar {
  padding: 0 $left-right-content-padding;
}

.main-content {
  padding: 1rem $left-right-content-padding;
}

.nav-menu-button {
  display: block;
  width: 20rem;
  font-size: 1.5rem;
}
