<h1>Users</h1>
<div *ngIf="users.length === 0">No records found</div>
<table *ngIf="users.length > 0" mat-table [dataSource]="users">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>
  <ng-container matColumnDef="birthday">
    <th mat-header-cell *matHeaderCellDef> Birthday </th>
    <td mat-cell *matCellDef="let user"> {{user.birthday | ukrainianDate}} </td>
  </ng-container>
  <ng-container matColumnDef="registeredAt">
    <th mat-header-cell *matHeaderCellDef> Registered At </th>
    <td mat-cell *matCellDef="let user"> {{user.registeredAt | ukrainianDate}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button disabled title="Can't delete due to cascade restriction" color="primary" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
