<h1>Tasks</h1>
<div *ngIf="tasks.length === 0">No records found</div>
<table *ngIf="tasks.length > 0" mat-table [dataSource]="tasks">
  <ng-container matColumnDef="name">
    <th  mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let task" [appTaskState]="task"> {{task.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let task"> {{task.description}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created At </th>
    <td mat-cell *matCellDef="let task"> {{task.createdAt | ukrainianDate}} </td>
  </ng-container>
  <ng-container matColumnDef="finishedAt">
    <th mat-header-cell *matHeaderCellDef> Finished At </th>
    <td mat-cell *matCellDef="let task"> {{task.finishedAt | ukrainianDate}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let task">
      <button mat-icon-button color="primary" (click)="deleteTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
