/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin TaskStateCircle($color) {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: $color;
}

.finishedTask {
  &::before {
    @include TaskStateCircle(green)
  }
}

.startedTask {
  &::before {
    @include TaskStateCircle(yellow)
  }
}

.canceledTask {
  &::before {
    @include TaskStateCircle(red)
  }
}

.createdTask {
  &::before {
    @include TaskStateCircle(blue)
  }
}
